version: '3.8'

services:
  discovery-service:
    build: ./discovery-service
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  gateway-service:
    build: ./gateway-service
    ports:
      - "8888:8888"
    environment:
      - EUREKA_URI=http://discovery-service:8761/eureka
      # On utilise keycloak en interne pour les appels direct (JWK), mais le token aura iss=localhost
      # L'astuce est souvent de ne pas valider l'issuer strictement ou d'utiliser le meme nom partout
      - KEYCLOAK_URL=http://keycloak:8080/realms/microservices-realm
      - FRONTEND_URL=http://localhost:4200
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/microservices-realm
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/microservices-realm/protocol/openid-connect/certs
    depends_on:
      - discovery-service
      - keycloak

  product-service:
    build: ./product-service
    ports:
      - "8081:8081" 
    environment:
      - EUREKA_URI=http://discovery-service:8761/eureka
      - KEYCLOAK_URL=http://keycloak:8080/realms/microservices-realm
      - KEYCLOAK_JWK_URI=http://keycloak:8080/realms/microservices-realm/protocol/openid-connect/certs
      - PRODUCT_DB_URL=jdbc:postgresql://postgres-product:5432/productdb
      - PRODUCT_DB_USERNAME=product_user
      - PRODUCT_DB_PASSWORD=product_pass
    depends_on:
      - discovery-service
      - keycloak
      - postgres-product

  order-service:
    build: ./order-service
    ports:
      - "8082:8082"
    environment:
      - EUREKA_URI=http://discovery-service:8761/eureka
      - KEYCLOAK_URL=http://keycloak:8080/realms/microservices-realm
      - KEYCLOAK_JWK_URI=http://keycloak:8080/realms/microservices-realm/protocol/openid-connect/certs
      - PRODUCT_SERVICE_URL=http://product-service:8081
      - ORDER_DB_URL=jdbc:postgresql://postgres-order:5432/orderdb
      - ORDER_DB_USERNAME=order_user
      - ORDER_DB_PASSWORD=order_pass
    depends_on:
      - discovery-service
      - keycloak
      - postgres-order

  postgres-product:
    image: postgres:15
    environment:
      - POSTGRES_DB=productdb
      - POSTGRES_USER=product_user
      - POSTGRES_PASSWORD=product_pass
    ports:
      - "5433:5432"
    volumes:
      - postgres-product-data:/var/lib/postgresql/data

  postgres-order:
    image: postgres:15
    environment:
      - POSTGRES_DB=orderdb
      - POSTGRES_USER=order_user
      - POSTGRES_PASSWORD=order_pass
    ports:
      - "5434:5432"
    volumes:
      - postgres-order-data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    command: start-dev --import-realm --features=preview,scripts
    volumes:
      - ./keycloak-data:/opt/keycloak/data/import
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_HTTP_PORT=8080
    ports:
      - "8080:8080"

  frontend-angular:
    build: ./frontend-angular
    ports:
      - "4200:80"
    depends_on:
      - gateway-service

volumes:
  postgres-product-data:
  postgres-order-data:
