server:
  port: 8888

spring:
  application:
    name: gateway-service
  cloud:
    discovery:
      enabled: true
    gateway:
      routes:
        - id: product-service
          uri: http://product-service:8081
          predicates:
            - Path=/product-service/**
          filters:
            - StripPrefix=1
        - id: commande-service
          uri: http://commande-service:8082
          predicates:
            - Path=/commande-service/**
          filters:
            - StripPrefix=1
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: ${FRONTEND_URL:http://localhost:4200}
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL:http://keycloak:8080/realms/microservices-realm}
          jwk-set-uri: ${KEYCLOAK_JWK_URI:http://keycloak:8080/realms/microservices-realm/protocol/openid-connect/certs}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://discovery-service:8761/eureka}
  instance:
    prefer-ip-address: true

app:
  cors:
    allowed-origins: ${FRONTEND_URL:http://localhost:4200}
  security:
    allowed-issuers: ${APP_ALLOWED_ISSUERS:http://localhost:8080/realms/microservices-realm,http://keycloak:8080/realms/microservices-realm}
